/* 双清 */
* {
    margin: 0;
    padding: 0;
}

/* 公共样式 */
/* 版心 */
.w {
    width: 1240px;
}

.box {
    /* background-color: pink; */
    position: relative;
    left: 50%;
    margin-left: -620px;
}

li {
    list-style: none;
}

body {
    background-color: #ECECEA;
}

/* top start */
.top {
    height: 360px;
    position: relative;
}

.top .bgi {
    width: 100%;
    height: 100%;
    /* 设置背景图片大小 */
    background-size: 1340px 360px;
    opacity: 0.5;
    position: absolute;
}

.top .result {
    width: 100%;
    height: 100%;
    text-align: center;
    font: 700 50px/40px "宋体";
    line-height: 360px;
    position: absolute;
}

/* top end */

/* main start */
.main {
    margin-top: 200px;
    height: auto;
    min-height: 400px;
    position: relative;
    /* background-color: pink; */
}

.main div {
    display: inline-block;
}

/* roster start */
.main .roster {
    position: absolute;
    left: 0;
    width: 900px;
    /* background-color: #ccc; */
}

.main .roster span {
    position: absolute;
    top: 25px;
    width: 20px;
    height: 100px;
    /* background-color: yellow; */
    line-height: 30px;
    margin-left: 80px;
    font: 30 20px/40px "宋体";
}

.main .roster table {
    margin-left: 168px;
    margin-top: 30px;
}

.main .roster tr {
    /* background-color: blue; */
    display: block;
    overflow: hidden;
}

.main .roster th {
    /* background-color: red; */
    text-align: center;
    float: left;
    padding: 0 0 16px 50px;
    font: 400 20px "宋体";
}

.main .roster td {
    /* background-color: red; */
    text-align: center;
    float: left;
    padding: 0 0 16px 50px;
    font: 400 20px "宋体";
}

/* roster end */

/* choose-box start */
.main .choose-box {
    position: absolute;
    right: 0;
    width: 300px;
    /* background-color: green; */
}

.main .choose-box .btn {
    position: relative;
    top: 20px;
    /* left: 50%;
    margin-left: -75px; */
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font: 700 20px/40px "宋体";
    outline: none;
}

.main .choose-box ul {
    margin-top: 45px;
}

.main .choose-box li {
    float: left;
    width: 10px;
    margin-right: 48px;
    line-height: 30px;
    font: 400 15px "宋体";
}

.file_label {
    width: 100px;
}

.description {
    margin-left: 800px;
    margin-top: 10px;
    height: auto;
    min-height: 200px;
    position: relative;
    /* background-color: pink; */
}

/* choose-box end */

/* main end */